
@media (prefers-color-scheme: dark) { 
    :root  { 
    --accent-color: white;
    --bg-color: black;
    --bg-color-container: whitesmoke;
  }
  .memoryPiece {
    box-shadow: 2px 2px 5px black;
  }
}

@media (max-width:528px) {
  
  .displayScore {
    position: inherit;
    align-self: center;
    margin: 0;
    /* margin-top: 20px; */
  }
  
  .facebook {
    font-size: 20px;
  }
  
  .menu {
    width: 90%;
    display: flex;
    flex-flow: column nowrap;
    list-style: none;
    font-size: 56px;
    justify-content: space-between;
    align-items: center; 
    transition-duration: 1s;
  }
  
  .menuAfterStart {
    justify-content: center;
    margin-bottom: 10px;
    font-size: 24px;
    width: auto;
  }
  
  .memoryPiece {
    height: 54px;
    width: 54px;
    margin: 0 3%;
  }
  
  .memoryContainer {
    height: 70vh; 
  }
  
  .memoryContainerShow {
    width: 80vw;
    padding: 2.5vw 2.5vw;
  }
  
  .gameCompleteMessageShow {
    transform: translateY(-400%);
  }
  
}

@media (max-width:320px){
  .menu {
    font-size: 40px;
  }
  
  .memoryContainerShow {
    width: 90vw;
    padding: 2.5vw 2.5vw;
  }
  
  .memoryPiece {
    height: 46px;
    width: 46px;
    margin: 0 3%;
  }
  
  .facebook {
    top: 5px;
    left: 5px;
    width: 60px;
  }
  
  .facebookAfterStart {
    top: 19%;
  }
  
  [name~='startHard'] {
    display: none;
  }
}