@media (max-width:528px) {
  
  
  .facebook {
    width: 100px;
  }
  
  .facebook img {
    width: 100px;
  }
  
  .menu {
    width: 90%;
    display: flex;
    flex-flow: column nowrap;
    list-style: none;
    font-size: 56px;
    justify-content: space-between;
    align-items: center; 
    transition-duration: 1s;
  }
  
  .menuAfterStart {
    justify-content: center;
    margin-bottom: 10px;
    font-size: 24px;
    width: auto;
  }
  
  .memoryPiece {
    height: 54px;
    width: 54px;
    margin: 0 3%;
  }
  
  .memoryContainer {
    height: 60vh; 
  }
  
  .memoryContainerShow {
    width: 80vw;
    padding: 2.5vw 2.5vw;
  }
}