:root {
  --accent-color: white;
  --bg-color: black;
  --bg-color-container: whitesmoke;
  --font: 'Oswald', sans-serif;
}

body {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  background: var(--bg-color);
  height: 100vh;
}

.title {
  color: var(--accent-color);
  margin: 0;
  margin-bottom: 2%;
  font-family: var(--font);
  font-weight: 400;
  font-size: 46px;
}

.memoryContainer {
  height: 80vh;
  width: 80vw;
  background: var(--bg-color-container);
}