:root {
  --accent-color: white;
  --bg-color: black;
  --bg-color-container: whitesmoke;
  --font: 'Oswald', sans-serif;
}

body {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  background: var(--bg-color);
  height: 100vh;
}

.title {
  color: var(--accent-color);
  margin: 0;
  margin-bottom: 2%;
  font-family: var(--font);
  font-weight: 400;
  font-size: 46px;
}

.menu {
  width: 40%;
  display: flex;
  flex-flow: row nowrap;
  list-style: none;
  justify-content: space-between;
}

.memoryContainer {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  height: 70vh;
  width: 80vh;
  padding: 5vh 5vh;
  background: var(--bg-color-container);
}


.memoryPiece {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  width: 80px;
  margin: 0 5%;
  background: var(--bg-color);
  transform: rotateY(180deg);
}

.memoryPiece p {
  opacity: 0;
  color: var(--accent-color);
}

.hej1 {
  
  transform: rotateY(0deg);
}

.hej1 p{
  opacity: 1;
}

